$turquoiseColor: #0095a0;
$darkGrayColor: #404040;
$lightGrayColor: #bbb;
$veryLightGrayColor: #e4e4e4;
$smokeWhiteColor: #f5f5f5;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$smallestFontSize: 1rem;
$smallFontSize: 1.1rem;
$normalFontSize: 1.2rem;
$largeFontSize: 1.3rem;
$xLargeFontSize: 2rem;
$giantFontSize: 6rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  font-size: $normalFontSize;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.searchForm {
  background: $veryLightGrayColor;
  height: 72px;
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.searchForm > input[type=text] {
  height: 24px;
  width: 196px;
  outline: 0;
  border-radius: 0;
  border-width: 1px;
  border-color: $lightGrayColor;
  padding: 0 4px;
}

.searchForm > input[type=text]:focus {
  border-color: $darkGrayColor;
}

.searchForm > button {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 25px;
  background: white;
  border: 0 transparent;
  padding: 2px;
  cursor: pointer;
}

h1, h3, h4, h5 {
  color: $turquoiseColor;
}

h1 {
  font-size: $xLargeFontSize;
}

h2 {
  font-size: $largeFontSize;
  color: $smokeWhiteColor;
}

h3 {
  font-size: $normalFontSize;
}

h4 {
  font-size: $smallFontSize;
}

h5 {
  font-size: $smallestFontSize;
}

svg, img {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  background-color: $turquoiseColor;
  border-radius: 50%;

  &.small {
    padding: 3px;
  }

  &.middle {
    padding: 6px;
  }

  &.large {
    padding: 9px;
  }

  &.xLarge {
    padding: 15px;
  }
}

.small {
  width: 30px;
  height: 30px;
}

.middle {
  width: 40px;
  height: 40px;
}

.large {
  width: 60px;
  height: 60px;
}

.xLarge {
  width: 100px;
  height: 100px;
}

nav {
  background: $darkGrayColor;
  height: 48px;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  height: 100%;
}

li {
  width: 200px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
}

.navItem {
  font-size: $largeFontSize;
  color: white;
  cursor: pointer;
  border-width: 0;

  &_selected {
    border-bottom: solid 4px $turquoiseColor;
  }
}

.wrapper, .hStack, .vStack, .contentHeader {
  display: flex;
  justify-content: space-between;
}

.wrapper, .vStack {
  flex-direction: column;
}

.wrapper {
  padding: 24px;
  background: $lightGrayColor;
  gap: 12px;
}

.hStack {
  align-items: center;
  gap: 12px;
  overflow-x: auto;
}

.vStack {
  padding: 12px;
  background: $smokeWhiteColor;
}

span {
  display: inline-block;
  font-size: $smallestFontSize;
  color: $darkGrayColor;
  padding: 8px;
  white-space: nowrap;
}

.fontSize{
  &_large{
    font-size: $largeFontSize;
  }
  &_xLarge{
    font-size: $giantFontSize;
  }
}

.grid {
  display: grid;
  gap: 6px;
  grid-template-columns: auto auto;
  padding: 12px;
}

.veryLightGrayChildDiv > div {
  background: $veryLightGrayColor;
}

.center {
  align-items: center;
}

.stretchChild > div {
  width: 100%;
}

.loader {
  border: 5px solid $turquoiseColor;
  &.middle{
    border-width: 6px;
  }
  &.large{
    border-width: 7px;
  }
  &.xLarge{
    border-width: 8px;
  }
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}